<ul style="line-height: 100%;" >
  <li>
  <a href="https://www.ceetronsolutions.com/about">About Us</a>
  </li>
  <li>
    <a href="https://www.ceetronsolutions.com/experience">Experience</a>
  </li>
    <li>
    <a href="https://www.ceetronsolutions.com/clients">Clients</a>
  </li>
  <li>
    <a href="https://www.ceetronsolutions.com/experience">Experience</a>
  </li>
  <li>
      <a href="https://www.ceetronsolutions.com/">
        <img src="{{ site.baseurl }}/images/CeetronSolutionsLogo.png" alt="Ceetron Solution" />
      </a>
  </li>
</ul>
