<ul style="line-height: 120%;" >
  <li>
      <a href="https://www.ceetronsolutions.com/">
        <img class="ceesol-logo" src="{{ site.baseurl }}/images/CeetronSolutionsLogo.png" alt="Ceetron Solution" width="100" height="20" />
      </a>
  </li>
  <li class="ceesol-nav">
  <a href="https://www.ceetronsolutions.com/about">About Us</a>
  </li>
  <li class="ceesol-nav">
    <a href="https://www.ceetronsolutions.com/experience">Experience</a>
  </li>
  <li class="ceesol-nav">
    <a href="https://www.ceetronsolutions.com/clients">Clients</a>
  </li>
</ul>
