name: Python Linting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10' 
      - name: (Python) Use black to do linting
        run: |
          pip install black
          cd GrpcInterface
          black .
      - uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Python code linting changes detected by black"
          title: "Fixes by black (Python)"
          branch: python-black-patches
          branch-suffix: random
          base: ${{ github.head_ref }}
